In [2]:
import pandas as pd

In [5]:
file_path = '/Users/emilytsen/Documents/projects/ds_cancer/df/cancer_deaths_by_country_and_type_dataset.csv'
data = pd.read_csv(file_path)

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5994 entries, 0 to 5993
Data columns (total 30 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Country                                5994 non-null   object
 1   Code                                   5966 non-null   object
 2   Year                                   5994 non-null   int64
 3   Liver cancer                           5994 non-null   float64
 4   Kidney cancer                          5994 non-null   float64
 5   Larynx cancer                          5994 non-null   float64
 6   Breast cancer                          5994 non-null   float64
 7   Thyroid cancer                         5994 non-null   float64
 8   Stomach cancer                         5994 non-null   float64
 9   Bladder cancer                         5994 non-null   float64
 10  Uterine cancer                         5994 non-null   float64
 11  Ovarian cancer                         5994 non-null   float64
 12  Cervical cancer                        5994 non-null   float64
 13  Prostate cancer                        5994 non-null   float64
 14  Pancreatic cancer                      5994 non-null   float64
 15  Esophageal cancer                      5994 non-null   float64
 16  Testicular cancer                      5994 non-null   float64
 17  Nasopharynx cancer                     5994 non-null   float64
 18  Other pharynx cancer                   5994 non-null   float64
 19  Colon and rectum cancer                5994 non-null   float64
 20  Non-melanoma skin cancer               5994 non-null   float64
 21  Lip and oral cavity cancer             5994 non-null   float64
 22  Brain and nervous system cancer        5994 non-null   float64
 23  Tracheal, bronchus, and lung cancer    5994 non-null   float64
 24  Gallbladder and biliary tract cancer   5994 non-null   float64
 25  Malignant skin melanoma                5994 non-null   float64
 26  Leukemia                               5994 non-null   float64
 27  Hodgkin lymphoma                       5994 non-null   float64
 28  Multiple myeloma                       5994 non-null   float64
 29  Other cancers                          5994 non-null   float64
dtypes: float64(27), int64(1), object(2)
memory usage: 1.4+ MB
None

In [7]:
print(data.head())

       Country Code  Year  Liver cancer   Kidney cancer   Larynx cancer   \
0  Afghanistan  AFG  1990     243.663716       39.470495      109.334207
1  Afghanistan  AFG  1991     261.241824       41.376024      117.311719
2  Afghanistan  AFG  1992     284.443630       44.106315      128.071634
3  Afghanistan  AFG  1993     313.136816       47.424854      141.429604
4  Afghanistan  AFG  1994     343.229715       50.710951      155.754606

   Breast cancer   Thyroid cancer   Stomach cancer   Bladder cancer   ...  \
0      766.535431        79.820167       923.495208       148.139204  ...
1      823.233932        85.111020       989.709648       156.977412  ...
2      901.022100        92.240603      1078.459037       168.990462  ...
3      996.432762       101.206726      1192.064525       184.347737  ...
4     1097.895223       110.679923      1316.505674       200.246949  ...

   Non-melanoma skin cancer   Lip and oral cavity cancer   \
0                  26.446156                    53.599636
1                  28.275271                    57.148890
2                  30.718152                    61.876100
3                  33.835442                    67.504857
4                  37.103370                    73.175879

   Brain and nervous system cancer   Tracheal, bronchus, and lung cancer   \
0                        163.869062                            797.265710
1                        174.183219                            853.126362
2                        188.382296                            927.812846
3                        205.250430                           1017.964700
4                        222.383572                           1110.997186

   Gallbladder and biliary tract cancer   Malignant skin melanoma   \
0                             125.936240                 14.293978
1                             133.781377                 15.241048
2                             144.287648                 16.508833
3                             157.471005                 18.038507
4                             171.311262                 19.606636

    Leukemia   Hodgkin lymphoma   Multiple myeloma   Other cancers
0  727.763429         191.367386          50.719442      294.839679
1  766.040181         203.509622          54.317640      311.469065
2  820.956547         220.208033          59.144200      334.565964
3  891.134162         240.718821          64.938582      362.486749
4  965.286072         262.324068          70.930355      390.334685

[5 rows x 30 columns]

In [8]:
print(data.describe())

              Year  Liver cancer   Kidney cancer   Larynx cancer   \
count  5994.000000    5994.000000     5994.000000     5994.000000
mean   2003.000000    8907.908512     1342.744808     1371.970404
std       7.789531   55965.974727     7087.274042     7190.191345
min    1990.000000       0.960402        0.143037        0.231970
25%    1996.000000      92.843912       17.404588       20.022001
50%    2003.000000     401.691060       85.401511       86.289398
75%    2010.000000    1805.795436      454.487708      434.998062
max    2016.000000  828944.651500   131799.624500   111043.780400

       Breast cancer   Thyroid cancer   Stomach cancer   Bladder cancer   \
count     5994.000000      5994.000000      5994.000000      5994.000000
mean      6297.916868       483.874024     11130.351278      2030.700329
std      31841.675025      2508.040827     64410.670021     10543.497398
min          1.653192         0.060434         1.644566         0.148716
25%        127.368354         6.964016       117.148820        27.482896
50%        561.325363        34.718334       644.393857       169.078880
75%       2344.794356       157.245398      2795.821535       729.658079
max     545589.801900     42861.245820    857369.475600    186198.614000

       Uterine cancer   Ovarian cancer   ...  Non-melanoma skin cancer   \
count      5994.000000      5994.000000  ...                5994.000000
mean       1069.272688      1818.014182  ...                 565.687519
std        5445.352401      9291.386296  ...                2935.407086
min           0.309278         0.222958  ...                   0.170252
25%          21.092977        30.649414  ...                   9.465047
50%         106.441279       140.509178  ...                  44.873701
75%         369.435226       703.652127  ...                 203.318685
max       87525.540310    165040.895000  ...               53059.268650

       Lip and oral cavity cancer   Brain and nervous system cancer   \
count                  5994.000000                       5994.000000
mean                   1784.387044                       2542.764670
std                   10063.283496                      13476.852607
min                       0.313214                          0.405962
25%                      22.655564                         40.580060
50%                      91.213761                        194.919202
75%                     418.759121                        832.665544
max                  176489.470300                     227038.632800

       Tracheal, bronchus, and lung cancer   \
count                          5.994000e+03
mean                           1.858655e+04
std                            1.039010e+05
min                            2.792068e+00
25%                            1.535769e+02
50%                            8.543490e+02
75%                            5.427892e+03
max                            1.706879e+06

       Gallbladder and biliary tract cancer   Malignant skin melanoma   \
count                            5994.000000               5994.000000
mean                             1764.917593                661.918293
std                              9434.782225               3423.468873
min                                 0.116207                  0.079525
25%                                23.619876                  8.455422
50%                               116.661762                 46.354649
75%                               576.030391                241.917397
max                            161559.969300              61679.777420

           Leukemia   Hodgkin lymphoma   Multiple myeloma   Other cancers
count    5994.000000        5994.000000        5994.000000     5994.000000
mean     3892.732488         465.281727        1017.231353     4404.435919
std     20218.584717        2371.446265        5311.224034    22824.551763
min         0.954250           0.058032           0.189680        0.774370
25%        64.065855           6.083444          15.864887       96.773176
50%       335.543188          40.120431          81.672796      389.130323
75%      1444.706225         171.334909         351.307027     1680.983372
max    310165.329700       36567.894480       98437.154300   431337.664700

[8 rows x 28 columns]

In [9]:
print(data.isnull().sum())

Country                                   0
Code                                     28
Year                                      0
Liver cancer                              0
Kidney cancer                             0
Larynx cancer                             0
Breast cancer                             0
Thyroid cancer                            0
Stomach cancer                            0
Bladder cancer                            0
Uterine cancer                            0
Ovarian cancer                            0
Cervical cancer                           0
Prostate cancer                           0
Pancreatic cancer                         0
Esophageal cancer                         0
Testicular cancer                         0
Nasopharynx cancer                        0
Other pharynx cancer                      0
Colon and rectum cancer                   0
Non-melanoma skin cancer                  0
Lip and oral cavity cancer                0
Brain and nervous system cancer           0
Tracheal, bronchus, and lung cancer       0
Gallbladder and biliary tract cancer      0
Malignant skin melanoma                   0
Leukemia                                  0
Hodgkin lymphoma                          0
Multiple myeloma                          0
Other cancers                             0
dtype: int64


### Filter rows where 'Code' is null.

In [10]:
rows_without_code = data[data['Code'].isnull()]

rows_without_code

,Country,Code,Year,Liver cancer,Kidney cancer,Larynx cancer,Breast cancer,Thyroid cancer,Stomach cancer,Bladder cancer,...,Non-melanoma skin cancer,Lip and oral cavity cancer,Brain and nervous system cancer,"Tracheal, bronchus, and lung cancer",Gallbladder and biliary tract cancer,Malignant skin melanoma,Leukemia,Hodgkin lymphoma,Multiple myeloma,Other cancers
972,Caribbean,NaN,1990,1644.087780,537.242452,758.254119,2514.523192,126.800668,2896.953918,680.509083,...,314.394972,644.833154,710.767583,5395.170372,788.091716,133.568750,1796.706631,144.272715,486.073965,1809.966772
3780,North America,NaN,1990,9960.368092,11585.466200,4882.705972,48612.926380,1273.276446,20670.611130,12974.688770,...,2416.757683,6410.666810,12740.451160,165434.279700,5218.275912,6905.514324,23625.655290,1874.073338,10338.507770,17896.739230
3781,North America,NaN,1991,10422.483520,11892.547550,4930.614611,49006.402880,1292.795240,20642.970700,13182.888700,...,2458.480041,6409.104189,12969.621790,168370.926500,5242.472193,7061.338439,24024.091320,1837.626145,10610.837210,18200.832270
3782,North America,NaN,1992,10956.090270,12174.941990,4957.835814,49369.409380,1323.386963,20527.723900,13427.902630,...,2493.949853,6396.575374,13164.664390,171491.860800,5246.970461,7221.908862,24434.335370,1799.608411,10873.652890,18531.903960
3783,North America,NaN,1993,11513.706080,12439.488250,5018.290884,50070.163760,1360.804410,20628.851190,13732.099290,...,2530.196973,6408.206622,13379.897590,175620.862000,5267.295129,7399.053269,24926.617410,1765.007870,11204.711250,18971.407160
3784,North America,NaN,1994,12064.228350,12738.156530,5055.354518,50475.986590,1382.135708,20569.544660,14002.831060,...,2553.683152,6369.622852,13591.809410,179078.601600,5276.200603,7551.317402,25325.909820,1712.724030,11482.534880,19351.909230
3785,North America,NaN,1995,12641.398270,13026.597810,5079.481618,50724.395440,1419.870354,20472.005120,14263.083910,...,2573.749470,6367.779579,13734.797570,182598.315200,5249.758678,7720.832803,25758.462400,1676.556622,11736.252280,19814.525860
3786,North America,NaN,1996,13125.878170,13171.450700,5018.877029,50451.526960,1450.972711,20306.848630,14417.379630,...,2579.289323,6299.624843,13854.198440,182319.881000,5249.176524,7873.722470,25941.544080,1631.245173,11865.146960,20088.822110
3787,North America,NaN,1997,13592.655640,13304.241990,4926.219483,49861.586730,1475.170302,20038.945170,14546.781420,...,2585.563203,6246.293389,13951.941900,181596.396400,5223.581350,7973.478148,26013.508190,1595.627068,11971.079060,20475.985340
3788,North America,NaN,1998,14145.429690,13494.068130,4938.845194,49647.147410,1503.878864,20114.738380,14793.119890,...,2621.720777,6233.760224,14125.775650,183520.030800,5239.102823,8108.682391,26244.034840,1550.271009,12130.983710,21113.987330
3789,North America,NaN,1999,14715.310660,13567.014420,4954.975004,49597.756270,1548.903309,20176.496850,15076.813190,...,2723.695053,6186.111903,14300.102050,185469.432800,5287.372129,8191.273070,26479.399390,1533.251744,12279.189690,22193.359680
3790,North America,NaN,2000,15264.716750,13782.085780,4939.818202,49570.203640,1586.069834,20045.509680,15304.976480,...,2770.521860,6176.224659,14404.881120,187005.736400,5285.476423,8321.572669,26653.655500,1502.872666,12378.082510,22924.001850
3791,North America,NaN,2001,15888.592500,14038.257190,4917.804858,49672.580290,1620.095051,19969.392370,15563.405950,...,2845.892107,6212.160862,14548.012040,187749.817400,5295.308009,8489.516189,26863.949540,1497.150409,12518.095010,23412.477060
3792,North America,NaN,2002,16556.407830,14283.590120,4918.314041,49777.090330,1651.141256,19936.999410,15872.345350,...,2898.440512,6247.682520,14720.013150,189295.963900,5277.820569,8631.062216,27104.891200,1492.218732,12656.421420,23870.108590
3793,North America,NaN,2003,17216.703950,14500.736070,4910.876548,49677.454240,1665.927348,19763.323440,16097.185750,...,2939.390275,6265.313160,14847.017290,190120.900000,5236.707696,8780.611577,27297.742000,1480.822105,12707.536980,24464.399470
3794,North America,NaN,2004,17939.634990,14720.477960,4892.294349,49375.477950,1708.866056,19602.188650,16424.554540,...,2980.521513,6292.098111,14997.611010,190631.208100,5179.441706,8951.108179,27384.543900,1465.606281,12758.942800,24907.198960
3795,North America,NaN,2005,18775.227080,14926.993420,4894.938062,49077.287900,1749.503757,19536.583780,16745.656980,...,3051.884725,6313.620278,15174.076170,191325.865400,5161.799721,9124.261041,27551.511650,1457.779604,12845.640910,25395.554660
3796,North America,NaN,2006,19503.572420,15102.260150,4865.390051,48698.244390,1793.771136,19460.321810,17016.726060,...,3135.226900,6349.911583,15321.412500,190198.300400,5090.003253,9285.689500,27644.980810,1451.857672,12903.517180,25768.866110
3797,North America,NaN,2007,20412.448260,15312.090160,4859.746311,48685.012840,1824.023683,19474.728830,17290.437580,...,3233.131791,6409.053016,15582.411480,189674.148100,5101.048197,9459.993657,27927.944380,1429.868378,13059.658610,26362.738760
3798,North America,NaN,2008,21374.419950,15582.052420,4894.129279,49050.917610,1866.243091,19527.903690,17586.204210,...,3318.050659,6480.306880,15907.174990,189864.839200,5115.521551,9692.482583,28240.232140,1404.820350,13233.922560,26904.800100
3799,North America,NaN,2009,22358.383400,15835.615230,4897.041298,49441.373590,1903.085346,19455.063360,17870.989430,...,3423.714376,6559.485771,16239.327970,189539.302600,5131.268466,9963.940732,28502.475270,1397.146652,13453.953480,27468.258170
3800,North America,NaN,2010,23354.806980,16129.855890,4926.162077,49934.443280,1937.997707,19539.464000,18239.466800,...,3525.562117,6696.450167,16545.482950,189747.428500,5193.662562,10176.654270,28793.893100,1386.175846,13731.714600,28068.383110
3801,North America,NaN,2011,24268.999860,16423.846950,4962.389184,50432.793070,1977.072819,19674.580480,18664.758310,...,3637.597285,6826.419626,16897.023640,191773.261000,5251.882702,10371.758410,29203.994850,1376.316628,14034.260090,28635.553750
3802,North America,NaN,2012,25165.571560,16750.767980,5023.673695,51032.215760,2016.161905,19894.249480,19113.396470,...,3758.066444,6981.294884,17314.297360,194670.984900,5324.408354,10591.728900,29645.923440,1373.516869,14384.346190,29257.808440
3803,North America,NaN,2013,25903.047630,17157.811400,5124.882491,51825.667760,2074.047622,20188.573830,19605.915870,...,3878.112991,7164.424753,17708.022300,198244.026500,5443.721825,10827.534400,30123.713530,1379.067995,14736.118490,29794.902170
3804,North America,NaN,2014,26451.879860,17502.484420,5229.861266,52791.497360,2117.813803,20539.078210,20016.477180,...,4013.769240,7353.789668,18115.881700,201846.535000,5577.457256,11038.707560,30574.906960,1392.141982,15082.640600,30419.789010
3805,North America,NaN,2015,26662.111450,17986.653300,5388.538418,54262.466250,2158.864072,21077.512310,20459.762530,...,4075.463972,7550.973537,18513.099530,207734.079100,5711.708956,11349.334150,31254.753350,1434.916035,15501.337090,30987.415820
3806,North America,NaN,2016,27099.268070,18446.326200,5531.517691,55422.889900,2203.921543,21548.949940,20919.325340,...,4163.126646,7734.097681,18884.818240,213062.155400,5837.296163,11609.559230,31849.168550,1461.746458,15893.864910,31549.842060

### Replace the code for "North America" with "NAM"

In [11]:
data.loc[data['Country'] == 'North America', 'Code'] = 'NAM'
data.loc[data['Country'] == 'Caribbean', 'Code'] = 'CAR'

In [12]:
rows_without_code = data[data['Code'].isnull()]

rows_without_code

Empty DataFrame
Columns: [Country, Code, Year, Liver cancer , Kidney cancer , Larynx cancer , Breast cancer , Thyroid cancer , Stomach cancer , Bladder cancer , Uterine cancer , Ovarian cancer , Cervical cancer , Prostate cancer , Pancreatic cancer , Esophageal cancer , Testicular cancer , Nasopharynx cancer , Other pharynx cancer , Colon and rectum cancer , Non-melanoma skin cancer , Lip and oral cavity cancer , Brain and nervous system cancer , Tracheal, bronchus, and lung cancer , Gallbladder and biliary tract cancer , Malignant skin melanoma , Leukemia , Hodgkin lymphoma , Multiple myeloma , Other cancers ]
Index: []

[0 rows x 30 columns]

In [13]:
unique_countries = data['Country'].unique()

unique_countries

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andean Latin America', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australasia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Caribbean',
       'Central African Republic', 'Central Asia', 'Central Europe',
       'Central Latin America', 'Central Sub-Saharan Africa', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Asia', 'Eastern Europe',
       'Eastern Sub-Saharan Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America and Caribbean', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Africa and Middle East', 'North America', 'North Korea',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Korea', 'South Sudan', 'Southeast Asia',
       'Southern Latin America', 'Southern Sub-Saharan Africa', 'Spain',
       'Sri Lanka', 'Sub-Saharan Africa', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tropical Latin America', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Wales', 'Western Europe',
       'Western Sub-Saharan Africa', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [23]:
# view the columns available in the DF
print(data.columns)

Index(['Country', 'Code', 'Year', 'Liver cancer ', 'Kidney cancer ',
       'Larynx cancer ', 'Breast cancer ', 'Thyroid cancer ',
       'Stomach cancer ', 'Bladder cancer ', 'Uterine cancer ',
       'Ovarian cancer ', 'Cervical cancer ', 'Prostate cancer ',
       'Pancreatic cancer ', 'Esophageal cancer ', 'Testicular cancer ',
       'Nasopharynx cancer ', 'Other pharynx cancer ',
       'Colon and rectum cancer ', 'Non-melanoma skin cancer ',
       'Lip and oral cavity cancer ', 'Brain and nervous system cancer ',
       'Tracheal, bronchus, and lung cancer ',
       'Gallbladder and biliary tract cancer ', 'Malignant skin melanoma ',
       'Leukemia ', 'Hodgkin lymphoma ', 'Multiple myeloma ',
       'Other cancers '],
      dtype='object')

In [24]:
# List of names you want to remove
remove_name = ['American Samoa', 'Andean Latin America', 'Australasia', 'Caribbean',
                   'Central Asia', 'Central Europe', 'Central Latin America', 
                   'Central Sub-Saharan Africa', 'East Asia', 'Eastern Europe', 
                   'Eastern Sub-Saharan Africa', 'Latin America and Caribbean', 
                   'Micronesia (country)', 'North America', 'North Africa and Middle East', 
                   'Northern Mariana Islands', 'Oceania', 'Palestine', 'South Asia',
                   'South Sudan', 'Southeast Asia', 'Southern Latin America', 
                   'Southern Sub-Saharan Africa', 'Sub-Saharan Africa', 
                   'Tropical Latin America', 'Western Europe', 
                   'Western Sub-Saharan Africa', 'World', 'United Kingdom']

# Remove rows corresponding to the names in the list
filtered_data = data[~data['Country'].isin(remove_name)]

# Now 'filtered_data' contains only the rows that are not in the list

In [16]:
countries = filtered_data['Country'].unique()

countries

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'Democratic Republic of Congo',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Korea', 'Northern Ireland', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Wales', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [17]:
filtered_data.columns = filtered_data.columns.str.upper()

filtered_data

,COUNTRY,CODE,YEAR,LIVER CANCER,KIDNEY CANCER,LARYNX CANCER,BREAST CANCER,THYROID CANCER,STOMACH CANCER,BLADDER CANCER,...,NON-MELANOMA SKIN CANCER,LIP AND ORAL CAVITY CANCER,BRAIN AND NERVOUS SYSTEM CANCER,"TRACHEAL, BRONCHUS, AND LUNG CANCER",GALLBLADDER AND BILIARY TRACT CANCER,MALIGNANT SKIN MELANOMA,LEUKEMIA,HODGKIN LYMPHOMA,MULTIPLE MYELOMA,OTHER CANCERS
0,Afghanistan,AFG,1990,243.663716,39.470495,109.334207,766.535431,79.820167,923.495208,148.139204,...,26.446156,53.599636,163.869062,797.265710,125.936240,14.293978,727.763429,191.367386,50.719442,294.839679
1,Afghanistan,AFG,1991,261.241824,41.376024,117.311719,823.233932,85.111020,989.709648,156.977412,...,28.275271,57.148890,174.183219,853.126362,133.781377,15.241048,766.040181,203.509622,54.317640,311.469065
2,Afghanistan,AFG,1992,284.443630,44.106315,128.071634,901.022100,92.240603,1078.459037,168.990462,...,30.718152,61.876100,188.382296,927.812846,144.287648,16.508833,820.956547,220.208033,59.144200,334.565964
3,Afghanistan,AFG,1993,313.136816,47.424854,141.429604,996.432762,101.206726,1192.064525,184.347737,...,33.835442,67.504857,205.250430,1017.964700,157.471005,18.038507,891.134162,240.718821,64.938582,362.486749
4,Afghanistan,AFG,1994,343.229715,50.710951,155.754606,1097.895223,110.679923,1316.505674,200.246949,...,37.103370,73.175879,222.383572,1110.997186,171.311262,19.606636,965.286072,262.324068,70.930355,390.334685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,Zimbabwe,ZWE,2012,1218.763107,56.966136,162.131298,783.959361,115.203608,936.013607,420.658042,...,212.201798,95.507275,222.048414,729.985667,91.875318,129.861515,327.561748,56.997563,183.828475,454.914384
5990,Zimbabwe,ZWE,2013,1252.747896,58.735014,161.039807,790.077464,115.846418,928.096553,423.397684,...,213.262823,97.058488,229.271375,728.931891,92.187505,133.293669,332.080678,56.258170,187.740238,466.870431
5991,Zimbabwe,ZWE,2014,1308.483454,61.575167,161.512234,839.938132,121.251540,949.321368,434.314706,...,215.100202,99.866860,240.975514,733.693373,94.962460,139.024680,343.054396,56.235666,195.949471,487.183868
5992,Zimbabwe,ZWE,2015,1357.611713,63.757395,162.909299,862.707637,123.638675,956.138239,442.122976,...,218.011570,102.734862,250.586202,741.287816,96.335115,144.153296,349.937885,55.664075,202.577660,502.675582
5993,Zimbabwe,ZWE,2016,1411.242274,66.764985,164.929997,891.630167,126.800977,969.794783,453.711001,...,222.509943,106.303546,263.215193,752.224915,98.373710,150.350177,360.943556,55.460516,209.891064,523.521206

In [18]:
filtered_data['COUNTRY'] = filtered_data['COUNTRY'].str.upper()
print(filtered_data)

          COUNTRY CODE  YEAR  LIVER CANCER   KIDNEY CANCER   LARYNX CANCER   \
0     AFGHANISTAN  AFG  1990     243.663716       39.470495      109.334207
1     AFGHANISTAN  AFG  1991     261.241824       41.376024      117.311719
2     AFGHANISTAN  AFG  1992     284.443630       44.106315      128.071634
3     AFGHANISTAN  AFG  1993     313.136816       47.424854      141.429604
4     AFGHANISTAN  AFG  1994     343.229715       50.710951      155.754606
...           ...  ...   ...            ...             ...             ...
5989     ZIMBABWE  ZWE  2012    1218.763107       56.966136      162.131298
5990     ZIMBABWE  ZWE  2013    1252.747896       58.735014      161.039807
5991     ZIMBABWE  ZWE  2014    1308.483454       61.575167      161.512234
5992     ZIMBABWE  ZWE  2015    1357.611713       63.757395      162.909299
5993     ZIMBABWE  ZWE  2016    1411.242274       66.764985      164.929997

      BREAST CANCER   THYROID CANCER   STOMACH CANCER   BLADDER CANCER   ...  \
0         766.535431        79.820167       923.495208       148.139204  ...
1         823.233932        85.111020       989.709648       156.977412  ...
2         901.022100        92.240603      1078.459037       168.990462  ...
3         996.432762       101.206726      1192.064525       184.347737  ...
4        1097.895223       110.679923      1316.505674       200.246949  ...
...              ...              ...              ...              ...  ...
5989      783.959361       115.203608       936.013607       420.658042  ...
5990      790.077464       115.846418       928.096553       423.397684  ...
5991      839.938132       121.251540       949.321368       434.314706  ...
5992      862.707637       123.638675       956.138239       442.122976  ...
5993      891.630167       126.800977       969.794783       453.711001  ...

      NON-MELANOMA SKIN CANCER   LIP AND ORAL CAVITY CANCER   \
0                     26.446156                    53.599636
1                     28.275271                    57.148890
2                     30.718152                    61.876100
3                     33.835442                    67.504857
4                     37.103370                    73.175879
...                         ...                          ...
5989                 212.201798                    95.507275
5990                 213.262823                    97.058488
5991                 215.100202                    99.866860
5992                 218.011570                   102.734862
5993                 222.509943                   106.303546

      BRAIN AND NERVOUS SYSTEM CANCER   TRACHEAL, BRONCHUS, AND LUNG CANCER   \
0                           163.869062                            797.265710
1                           174.183219                            853.126362
2                           188.382296                            927.812846
3                           205.250430                           1017.964700
4                           222.383572                           1110.997186
...                                ...                                   ...
5989                        222.048414                            729.985667
5990                        229.271375                            728.931891
5991                        240.975514                            733.693373
5992                        250.586202                            741.287816
5993                        263.215193                            752.224915

      GALLBLADDER AND BILIARY TRACT CANCER   MALIGNANT SKIN MELANOMA   \
0                                125.936240                 14.293978
1                                133.781377                 15.241048
2                                144.287648                 16.508833
3                                157.471005                 18.038507
4                                171.311262                 19.606636
...                                     ...                       ...
5989                              91.875318                129.861515
5990                              92.187505                133.293669
5991                              94.962460                139.024680
5992                              96.335115                144.153296
5993                              98.373710                150.350177

       LEUKEMIA   HODGKIN LYMPHOMA   MULTIPLE MYELOMA   OTHER CANCERS
0     727.763429         191.367386          50.719442      294.839679
1     766.040181         203.509622          54.317640      311.469065
2     820.956547         220.208033          59.144200      334.565964
3     891.134162         240.718821          64.938582      362.486749
4     965.286072         262.324068          70.930355      390.334685
...          ...                ...                ...             ...
5989  327.561748          56.997563         183.828475      454.914384
5990  332.080678          56.258170         187.740238      466.870431
5991  343.054396          56.235666         195.949471      487.183868
5992  349.937885          55.664075         202.577660      502.675582
5993  360.943556          55.460516         209.891064      523.521206

[5211 rows x 30 columns]

/var/folders/d9/s1jw0p5d1vj0ph0d06_tc4g40000gn/T/ipykernel_96848/2760760677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['COUNTRY'] = filtered_data['COUNTRY'].str.upper()

In [25]:
# Round all numbers to 2 decimal places
filtered_data = filtered_data.round(2)
filtered_data

,Country,Code,Year,Liver cancer,Kidney cancer,Larynx cancer,Breast cancer,Thyroid cancer,Stomach cancer,Bladder cancer,...,Non-melanoma skin cancer,Lip and oral cavity cancer,Brain and nervous system cancer,"Tracheal, bronchus, and lung cancer",Gallbladder and biliary tract cancer,Malignant skin melanoma,Leukemia,Hodgkin lymphoma,Multiple myeloma,Other cancers
0,Afghanistan,AFG,1990,243.66,39.47,109.33,766.54,79.82,923.50,148.14,...,26.45,53.60,163.87,797.27,125.94,14.29,727.76,191.37,50.72,294.84
1,Afghanistan,AFG,1991,261.24,41.38,117.31,823.23,85.11,989.71,156.98,...,28.28,57.15,174.18,853.13,133.78,15.24,766.04,203.51,54.32,311.47
2,Afghanistan,AFG,1992,284.44,44.11,128.07,901.02,92.24,1078.46,168.99,...,30.72,61.88,188.38,927.81,144.29,16.51,820.96,220.21,59.14,334.57
3,Afghanistan,AFG,1993,313.14,47.42,141.43,996.43,101.21,1192.06,184.35,...,33.84,67.50,205.25,1017.96,157.47,18.04,891.13,240.72,64.94,362.49
4,Afghanistan,AFG,1994,343.23,50.71,155.75,1097.90,110.68,1316.51,200.25,...,37.10,73.18,222.38,1111.00,171.31,19.61,965.29,262.32,70.93,390.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,Zimbabwe,ZWE,2012,1218.76,56.97,162.13,783.96,115.20,936.01,420.66,...,212.20,95.51,222.05,729.99,91.88,129.86,327.56,57.00,183.83,454.91
5990,Zimbabwe,ZWE,2013,1252.75,58.74,161.04,790.08,115.85,928.10,423.40,...,213.26,97.06,229.27,728.93,92.19,133.29,332.08,56.26,187.74,466.87
5991,Zimbabwe,ZWE,2014,1308.48,61.58,161.51,839.94,121.25,949.32,434.31,...,215.10,99.87,240.98,733.69,94.96,139.02,343.05,56.24,195.95,487.18
5992,Zimbabwe,ZWE,2015,1357.61,63.76,162.91,862.71,123.64,956.14,442.12,...,218.01,102.73,250.59,741.29,96.34,144.15,349.94,55.66,202.58,502.68
5993,Zimbabwe,ZWE,2016,1411.24,66.76,164.93,891.63,126.80,969.79,453.71,...,222.51,106.30,263.22,752.22,98.37,150.35,360.94,55.46,209.89,523.52

In [20]:
filtered_data['YEAR'].dtype

dtype('int64')

In [21]:
filtered_data['YEAR'] = pd.to_datetime(filtered_data['YEAR'], format='%Y').dt.year

In [22]:
filtered_data['YEAR'].dtype

dtype('int32')

In [17]:
# Specify the path and file name to save
file_path = '/Users/emilytsen/Documents/projects/ds_cancer/df/df_countrys.csv'

# Save the DataFrame to the CSV file
filtered_data.to_csv(file_path, index=False)